body {
    font-family: "Nunito", sans-serif;
    background-color: white;
    margin: 0;
}

#navbar {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    z-index: 2;
}

#navbar i {
    font-size: 1.7rem;
    color: white;
    background-color: forestgreen;
    padding: 10px;
    border-radius: 10px;
}

#navbar button,
.caption button {
    background-color: forestgreen;
    color: white;
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}

.brand_name p,
.ratings-div>p {
    color: forestgreen;
}

.ratings i {
    color: gold;
}

/* Swiper Container */
.swiper-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 40px;
    /* Add padding to give space for the pagination bullets */
}

/* Swiper Wrapper and Slide */
.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Testimonial Card */
.testimonial-card {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: forestgreen;
    color: white;
    font-weight: 800;
    font-size: 0.9rem;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.explore-card {
    width: 90%;
    min-height: 400px;
    max-height: 500px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Pagination Styling */
.swiper-pagination {
    text-align: center;
    position: relative;
    margin-top: 20px;
    /* Adds space between the cards and the pagination bullets */
}

.swiper-pagination-bullet {
    background-color: #bbb;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: forestgreen;
}

.caption button {
    font-weight: 600;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


@media only screen and (max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    p {
        font-size: 0.9rem;
    }

    #navbar {
        width: 95%;
        border-radius: 10px;
        margin: 5px 10px 10px 10px;
    }

    #navbar i {
        font-size: 1.5rem;
        padding: 10px;
    }

    #navbar button {
        padding: 10px;
    }

    /* Styles for mobile devices (portrait) */
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        position: sticky;
        top: 0;
        z-index: 1000;
        /* Ensures the navbar stays above other elements */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .brand_name p {
        text-align: center;
        margin: 0;
        font-weight: 400;
    }

    .brand_name .name {
        font-size: 1.5rem;
        font-weight: 1000;
    }

    .nav>div>button>p {
        margin: 7px 7px;
    }

    .slider_container {
        position: relative;
        width: 100%;
        height: 85vh;
        /* Adjust height to make images taller */
        /* Adjust height to 60% of the viewport height for a larger display */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }

    .slider {
        position: relative;
        width: 500%;
        /* Adjust width according to the number of slides */
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        animation: 30s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
        transition: transform 0.5s ease-out;
    }

    .slide {
        position: relative;
        min-width: 100%;
        /* Each slide takes full width */
        height: 100%;
    }

    .slide img {
        width: 100%;
        height: 85vh;
        object-fit: cover;
        object-position: 70%;
        clip-path: url(#smile-mask);
        
    }

    .slide .caption h1 {
        font-weight: 1000;
        line-height: 45px;
    }

    .slide .caption {
        width: 300px;
        position: absolute;
        left: 0;
        bottom: 20%;
        font-size: 2rem;
        /* Adjust font size for better readability on smaller screens */
        font-weight: 1000;
        color: white;
        text-transform: capitalize;
        padding: 1rem 1rem;
        border-radius: 0 2rem 2rem 0;
        text-shadow: 2px 2px 4px forestgreen;
    }

    .caption button {
        font-size: 1.2rem;
        margin-top: 20px;
    }

    /* Animation for sliding effect */
    @keyframes sliding {
        0% {
            transform: translateX(0%);
        }

        20% {
            transform: translateX(0%);
        }

        25% {
            transform: translateX(-100%);
        }

        45% {
            transform: translateX(-100%);
        }

        50% {
            transform: translateX(-200%);
        }

        70% {
            transform: translateX(-200%);
        }

        75% {
            transform: translateX(-300%);
        }

        95% {
            transform: translateX(-300%);
        }

        100% {
            transform: translateX(-400%);
        }
    }

    #head-para {
        padding: 40px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #head-para>div>h1,
    #head-para>div>p {
        text-align: center;
    }

    .intro>h1 {
        font-size: 1.7rem;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .ratings-div {
        margin: 40px 0;
        border: 2px solid forestgreen;
        width: 300px;
        padding: 10px;
    }

    .ratings-div p {
        font-size: 1.2rem;
    }

    .ratings-div>p>span {
        font-size: 1.5rem;
        font-weight: 1000;
    }

    .ratings-div>p {
        font-weight: 400;
    }

    .ratings {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    .ratings>p {
        font-size: 0.9rem;
    }

    .sub-rating {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigator {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menus {
        padding: 40px;
        width: 300px;
        text-align: center;
        margin: 10px 0;
        border-radius: 10px;
    }

    .navigator a {
        margin: 0;
        text-decoration: none;
    }

    .gr {
        background-color: forestgreen;
        color: rgb(255, 210, 0);
        font-weight: 800;
    }

    .wh {
        color: forestgreen;
        background-color: rgb(255, 210, 0);
        font-weight: 800;
    }

    .testimonial-card{
        width:80%;
        height:350px;
        --smooth-corners: 5;
        mask-image: paint(smooth-corners);
        -webkit-mask-image: paint(smooth-corners);
        
    }


    #test-h1 {
        text-align: left !important;
        margin: 50px 0 50px 10px;
        font-size: 1.8rem;
    }

    #explore-sec {
        padding-bottom: 0;
    }


    .explore-card img {
        height: 200px;
        width: 350px;
        border-radius: 20px;
    }

    .sub-explore {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 15px 0;
    }

    .sub-explore i {
        color: rgb(255, 210, 0);
        font-size: 2rem;
        margin-right: 15px;

    }

    #exp-h1 {
        text-align: left !important;
        margin: 60px 0 20px 10px;
        font-size: 1.8rem;
    }

    .sub-explore h2 {
        color: forestgreen;
    }

    #footer {
        background-color: forestgreen;
        color: white;
        padding: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;
    }

    .sub-footer {
        display: flex;
        flex-direction: column;
        margin: 30px 10px;
    }

    .sub-footer a {
        text-decoration: none;
        color: white;
        font-size: 0.9rem;
        margin: 10px 0;
    }

    #footer p {
        text-align: center;
        font-size: 0.9rem;
        margin-bottom: 40px;
    }

    .arc-container {
        position: relative;
        width: 300px;
        height: 150px;
        background-color: white;
        /* Arc color */
        border-top-left-radius: 170px;
        border-top-right-radius: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        /* This hides any overflowing content */
    }

    .arc-container img {
        width: 80px;
        /* Image width */
        height: 100px;
        /* Image height */
        margin-top: 20px;
    }

    #arc {
        align-self: center;
    }
}